    <!-- movies.html -->
    {% extends "flask_user_layout.html" %}
    {% block content %}

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script type="text/javascript">
        var submissionUrl = "{{ url_for('save_ratings') }}";
        const len_movies = "{{'0' if movies == None else movies|length}}"
        const nextpage = "{{ url_for('recommend_page') }}";
    </script>
    



    <div class="container">
        <h2>Movies</h2>

        {% for m in movies %}
        <div class="movie-card" movie_id="{{ m.id }}">
            <div class="movie-header">
                <div class="movie-title-section">
                    <h3>{{ m.title }}</h3>
                    <a href="{{ m.imdbId_link }}" target="_blank" class="btn-imdb">Visit IMDb Page</a>
                </div>
                <div class="movie-body">
                    <p style="padding-top: 15px;"></p>
                    <h5>Genres</h5>
                    <div class="genres">
                        
                        <p style="padding-left: 15px;">
                        {% for g in m.genres %}
                            <span class="badge badge-secondary">{{ g.genre }}</span>
                        {% endfor %}
                        </p>
                    </div>
                    
                    {% if  m.Tags%}
                    <h5>Tags</h5>
                    <div class="tags">
                        <p style="padding-left: 15px;">
                            {% for tag in m.tags[:max_tags] %}
                                <span class="badge badge-success">{{ tag.tag }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    {% endif %}
                
                   
                    <!-- Rating Stars -->
                    <div class="movie-footer">
                        <h5>Rate:</h5>
                        <div class="rating-container">
                            <span class="star-rating" data-rate="1">★</span>
                            <span class="star-rating" data-rate="2">★</span>
                            <span class="star-rating" data-rate="3">★</span>
                            <span class="star-rating" data-rate="4">★</span>
                            <span class="star-rating" data-rate="5">★</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% endfor %}
        <button id="submit-ratings" class="btn-imdb" style="font-size: larger;opacity: 0.5;" >Submit Ratings</button>
        <p id="warning-message" style="color: red; display: none;">Please rate all movies before submitting.</p>
    </div>
    
    <script>
    const movieCards = document.querySelectorAll('.movie-card');
    console.log("n_movie_cards", movieCards.length)
    console.log("n_given_mocies", len_movies)
let ratings = {};

movieCards.forEach(card => {
        // Extract movie id from the movie-card div
        const movieId = card.getAttribute('movie_id');
        
        // Initialize the ratings for each movie with a null value
        ratings[movieId] = null;

    card.querySelectorAll('.star-rating').forEach(star => {
        star.addEventListener('click', (e) => {
            e.preventDefault();
            ratings[movieId] = e.target.dataset.rate;
            highlightRating(card, e.target.dataset.rate);
            document.getElementById('warning-message').style.display = 'none';
            checkIfAllRated();
        });
    });
});

function highlightRating(card, rate) {
    const stars = card.querySelectorAll('.star-rating');
    stars.forEach(star => {
        star.style.opacity = star.dataset.rate == rate ? '1.0' : '0.5';
        if (star.dataset.rate <= rate) {
            star.classList.add('selected');
            star.style.color = '#ff8f57'; // Slightly darker color for the selected star
        } else {
            star.classList.remove('selected');
            star.style.color = '#ffc107'; // Original star color
        }
    });
}

function checkIfAllRated() {
    console.log("check")
    const allRated = Object.values(ratings).every(rating => rating !== null);

    
    const submitButton = document.getElementById('submit-ratings');
    submitButton.style.opacity = allRated ? '1.0' : '0.5';
}

document.getElementById('submit-ratings').addEventListener('click', () => {
    console.log("pressed")

    var values = Object.values(ratings)
    const allRated = values.every(rating => rating !== null);

    console.log(Object.values(ratings))
    console.log(len_movies)
    console.log(values.length)
    if (!allRated ) {
        document.getElementById('warning-message').style.display = 'block';
    } else {
        fetch(submissionUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ ratings: ratings }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            // Redirect or handle response data here

            document.cookie = 'recommendation_job_id='+data['recommendation_job_id'];

            window.location.href = nextpage;
        })
        .catch((error) => {
            console.error('Error:', error);
            // Handle errors here, such as by displaying a message to the user
        });
    }
});


</script>
{% endblock %}