    <!-- movies.html -->
    {% extends "flask_user_layout.html" %}
    {% block content %}

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    



    <div class="container">
        <h2>Movies</h2>

        {% for m in movies %}
        <div class="movie-card">
            <div class="movie-header">
                <div class="movie-title-section">
                    <h3>{{ m.title }}</h3>
                    <a href="{{ m.links.imdbId_link }}" target="_blank" class="btn-imdb">Visit IMDb Page</a>
                </div>
                <div class="movie-body">
                    <p style="padding-top: 15px;"></p>
                    <h5>Genres</h5>
                    <div class="genres">
                        
                        <p style="padding-left: 15px;">
                        {% for g in m.genres %}
                            <span class="badge badge-secondary">{{ g.genre }}</span>
                        {% endfor %}
                        </p>
                    </div>
                    
                    <h5>Tags</h5>
                    <div class="tags">
                        <p style="padding-left: 15px;">
                            {% for tag in m.tags[:max_tags] %}
                                <span class="badge badge-success">{{ tag.tag }}</span>
                            {% endfor %}
                        </p>
                    </div>
        
                   
                    <!-- Rating Stars -->
                    <div class="movie-footer">
                        <h5>Rate:</h5>
                        <a href="#" class="star-rating" data-rate="1">★</a>
                        <a href="#" class="star-rating" data-rate="2">★</a>
                        <a href="#" class="star-rating" data-rate="3">★</a>
                        <a href="#" class="star-rating" data-rate="4">★</a>
                        <a href="#" class="star-rating" data-rate="5">★</a>
                        
                    </div>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
